# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [38]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [39]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [40]:
salaries.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Annual Salary        float64
Hourly Rate          float64
dtype: object

In [41]:
salaries.sample()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
6041,"CRIVELLONE, THOMAS J",ASPHALT FOREMAN,TRANSPORTN,F,Hourly,40.0,NaN,41.1

In [42]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [43]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [44]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [50]:
salaries['Department'].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [80]:
from scipy.stats import ttest_1samp
from statsmodels.stats.weightstats import ztest as ztest

In [81]:
salaries_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly'] #Filtro el data frame solo por trabjadores hourly
hourly_wage = salaries_hourly['Hourly Rate'].dropna()

_, p_value = ztest(hourly_wage, value=30, alternative="two-sided")
p_value

1.8228873859286195e-94

In [82]:
if p_value < 0.05: # hypothesis test for a 95% two sided confidence interval.
    print(f"They are underfed. Very unlikely given the distribution of the population")
else:
    print(f"It is very likely. We don't have evidence to reject H0")

They are underfed. Very unlikely given the distribution of the population

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [148]:
salary_police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]
annual_wage = salary_police['Annual Salary']


p_value  = ztest(annual_wage, value=86000, alternative='larger')[1]
round(p_value, 3)

0.001

In [146]:
if p_value < 0.05: 
    print(f"They are underfed. Very unlikely given the distribution of the population")
else:
    print(f"It is very likely. We don't have evidence to reject H0")

They are underfed. Very unlikely given the distribution of the population

Using the `crosstab` function, find the department that has the most hourly workers.

In [152]:
hours_max = pd.crosstab(salaries.Department, salaries[salaries['Salary or Hourly']=='Hourly']['Salary or Hourly']).sort_values('Hourly', ascending=False)
hours_max.columns = ['Hourly_workers']

hours_max[:1]

               Hourly_workers
Department
STREETS & SAN            1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [118]:
salary_SS = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]
zscore, p_value = ztest(salary_SS['Hourly Rate'], value=35, alternative="smaller")

p_value

5.478855641943434e-22

In [119]:
if p_value < 0.05: # hypothesis test for a 95% two sided confidence interval.
    print(f"They are underfed. Very unlikely given the distribution of the population")
else:
    print(f"It is very likely. We don't have evidence to reject H0")

They are underfed. Very unlikely given the distribution of the population

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [123]:
from scipy.stats import t, sem

In [128]:
hourly = salaries['Hourly Rate'].dropna()
interval = t.interval(0.95, len(hourly)-1, loc=hourly.mean(), scale=sem(hourly))
interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [130]:
police_dep = salaries[salaries.Department=='POLICE']
hourly_police = police_dep['Annual Salary'].dropna()


interval = t.interval(0.95, len(hourly_police)-1, loc=hourly_police.mean(), scale=sem(hourly_police))
interval

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [139]:
from statsmodels.stats.proportion import proportions_ztest
import statsmodels.stats.proportion as proportion

In [143]:
hourly_count = salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]
total_count = salaries.shape[0]

# sample proportion
p = hourly_count / total_countÂ¡
# null hypothesis
null_p = 0.25
# hypothesis test
z_stat, p_value = proportion.proportions_ztest(count=hourly_count, nobs=total_count, value=null_p)

In [145]:
if p_value < 0.05: # hypothesis test for a 95% two sided confidence interval.
    print(f"They are underfed. Very unlikely given the distribution of the population")
else:
    print(f"It is very likely. We don't have evidence to reject H0")

They are underfed. Very unlikely given the distribution of the population